<p>Hello!</p>
<p>{{other_parent_name}} has answered your share baby invitation request for {{baby_name}} with {{invitation_answer}}.</p>

<p>If you did not request this email you can safely ignore it.</p>
