<p>Hello!</p>
<p>You have been invited by {{ requester_name }} to be a parent for {{ baby_name }}!</p>

<p>You can see the share baby invitations in the web over at the "Share Baby Invitations" page.</p>
<p>If you accept, you will now be able to see and record the food introductions for {{ baby_name }}.</p>

<p>If you did not request this email you can safely ignore it.</p>
